absl-py==2.1.0
accelerate==0.21.0
aiobotocore==2.13.1
aiohttp==3.9.5
aiohttp-cors==0.7.0
aioitertools==0.11.0
aiosignal==1.3.1
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
archspec @ file:///home/conda/feedstock_root/build_artifacts/archspec_1708969572489/work
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
assembled==0.0.4
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.2.0
-e git+ssh://git@github.com/alee4977/autogluon.git@32f1ed0015ed60bef93f4641fef7aef0dcd3243a#egg=autogluon&subdirectory=autogluon
-e git+https://github.com/Innixma/autogluon-benchmark.git@e03f6636ec5dfadbd2db7a7965c726bb714ef805#egg=autogluon_benchmark
-e git+https://github.com/autogluon/autogluon-bench.git@c0c422ddaeed905e118c61859d0524df9335fdcd#egg=autogluon.bench
-e git+ssh://git@github.com/alee4977/autogluon.git@32f1ed0015ed60bef93f4641fef7aef0dcd3243a#egg=autogluon.common&subdirectory=common
-e git+ssh://git@github.com/alee4977/autogluon.git@32f1ed0015ed60bef93f4641fef7aef0dcd3243a#egg=autogluon.core&subdirectory=core
-e git+ssh://git@github.com/alee4977/autogluon.git@32f1ed0015ed60bef93f4641fef7aef0dcd3243a#egg=autogluon.eda&subdirectory=eda
-e git+ssh://git@github.com/alee4977/autogluon.git@32f1ed0015ed60bef93f4641fef7aef0dcd3243a#egg=autogluon.features&subdirectory=features
-e git+ssh://git@github.com/alee4977/autogluon.git@32f1ed0015ed60bef93f4641fef7aef0dcd3243a#egg=autogluon.multimodal&subdirectory=multimodal
-e git+ssh://git@github.com/alee4977/autogluon.git@32f1ed0015ed60bef93f4641fef7aef0dcd3243a#egg=autogluon.tabular&subdirectory=tabular
-e git+ssh://git@github.com/alee4977/autogluon.git@32f1ed0015ed60bef93f4641fef7aef0dcd3243a#egg=autogluon.timeseries&subdirectory=timeseries
autorank==1.1.3
aws-cdk-lib==2.147.3
aws-cdk.asset-awscli-v1==2.2.202
aws-cdk.asset-kubectl-v20==2.1.2
aws-cdk.asset-node-proxy-agent-v6==2.0.3
aws-cdk.aws-batch-alpha==2.69.0a0
awscliv2==2.3.0
backcall==0.2.0
baycomp==1.0.3
beautifulsoup4==4.12.3
black==23.12.1
blis==0.7.11
boltons @ file:///home/conda/feedstock_root/build_artifacts/boltons_1711936407380/work
boto3==1.34.131
botocore==1.34.131
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1695989787169/work
cachetools==5.3.3
catalogue==2.0.10
catboost==1.2.5
cattrs==23.2.3
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1707022139797/work/certifi
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1696001684923/work
charset-normalizer==2.0.12
click==8.1.7
cloudpathlib==0.18.1
cloudpickle==3.0.0
cma==3.2.2
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
coloredlogs==15.0.1
colorful==0.5.6
combo==0.1.3
comm==0.2.2
conda @ file:///home/conda/feedstock_root/build_artifacts/conda_1711445853354/work
conda-libmamba-solver @ file:///home/conda/feedstock_root/build_artifacts/conda-libmamba-solver_1706566000184/work/src
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1691048088238/work
conda_package_streaming @ file:///home/conda/feedstock_root/build_artifacts/conda-package-streaming_1691009212940/work
confection==0.1.5
ConfigSpace==0.6.1
constructs==10.3.0
contourpy==1.2.1
cycler==0.12.1
cymem==2.0.8
datasets==2.14.7
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.7
distlib==0.3.8
distro @ file:///home/conda/feedstock_root/build_artifacts/distro_1704321475663/work
evaluate==0.4.2
exceptiongroup==1.2.1
executing==2.0.1
fastai==2.7.15
fastcore==1.5.47
fastdownload==0.0.7
fastprogress==1.0.3
filelock==3.15.3
flaky==3.8.1
flatbuffers==24.3.25
fonttools==4.53.0
frozenlist==1.4.1
fsspec==2024.5.0
future==1.0.0
gdown==5.2.0
gluonts==0.15.1
google-api-core==2.19.0
google-auth==2.30.0
googleapis-common-protos==1.63.1
graphviz==0.20.3
grpcio==1.64.1
huggingface-hub==0.23.4
humanfriendly==10.0
hyperopt==0.2.7
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1701026962277/work
imageio==2.34.1
imodels==1.3.18
importlib_resources==6.4.0
iniconfig==2.0.0
ipython==8.12.3
ipywidgets==8.1.3
isort==5.13.2
jedi==0.19.1
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.4.2
jsii==1.101.0
jsonpatch @ file:///home/conda/feedstock_root/build_artifacts/jsonpatch_1695536281965/work
jsonpointer @ file:///home/conda/feedstock_root/build_artifacts/jsonpointer_1695397238043/work
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyterlab_widgets==3.0.11
kaleido==0.2.1
kiwisolver==1.4.5
langcodes==3.4.0
language_data==1.2.0
lazy_loader==0.4
liac-arff==2.5.0
libmambapy @ file:///home/conda/feedstock_root/build_artifacts/mamba-split_1711394305528/work/libmambapy
lightgbm==4.3.0
lightning==2.3.0
lightning-utilities==0.11.2
llvmlite==0.43.0
mamba @ file:///home/conda/feedstock_root/build_artifacts/mamba-split_1711394305528/work/mamba
marisa-trie==1.2.0
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.6.3
matplotlib-inline==0.1.7
mdurl==0.1.2
menuinst @ file:///home/conda/feedstock_root/build_artifacts/menuinst_1705068285533/work
minio==7.2.7
missingno==0.5.2
mlforecast==0.10.0
mlxtend==0.23.1
model-index==0.1.11
more-itertools==10.3.0
mpmath==1.3.0
msgpack==1.0.8
multidict==6.0.5
multiprocess==0.70.15
murmurhash==1.0.10
mypy==1.10.0
mypy-extensions==1.0.0
networkx==3.3
nlpaug==1.1.11
nltk==3.8.1
nptyping==2.4.1
numba==0.60.0
numexpr==2.10.0
numpy==1.22.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-ml-py3==7.352.0
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.5.40
nvidia-nvtx-cu12==12.1.105
omegaconf==2.2.3
onnx==1.13.1
onnxconverter-common==1.14.0
onnxruntime==1.18.0
onnxruntime-gpu==1.15.1
opencensus==0.11.4
opencensus-context==0.1.3
opendatalab==0.0.10
openmim==0.3.9
openml==0.12.2
openxlab==0.0.11
optimum==1.18.1
ordered-set==4.1.0
orjson==3.10.5
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1710075952259/work
pandas==1.4.4
parso==0.8.4
pathspec==0.12.1
patsy==0.5.6
pdf2image==1.17.0
pexpect==4.9.0
-e git+ssh://git@github.com/alee4977/phem.git@7fadc82a8ab16c2fca0558ee00b67b365afad974#egg=phem
phik==0.12.4
pickleshare==0.7.5
pillow==10.3.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1706713388748/work
plotly==5.22.0
pluggy==1.5.0
preshed==3.0.9
prometheus_client==0.20.0
prompt_toolkit==3.0.47
proto-plus==1.24.0
protobuf==3.20.2
psutil==5.9.8
ptyprocess==0.7.0
publication==0.0.3
pure-eval==0.2.2
py-spy==0.3.14
py4j==0.10.9.7
pyarrow==16.1.0
pyarrow-hotfix==0.6
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycosat @ file:///home/conda/feedstock_root/build_artifacts/pycosat_1696355758174/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1711811537435/work
pycryptodome==3.20.0
pydantic==2.7.4
pydantic_core==2.18.4
Pygments==2.18.0
pyod==1.1.3
pyparsing==3.1.2
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
pytesseract==0.3.10
pytest==8.2.2
pytest-mypy==0.10.3
pytest-timeout==2.3.1
python-dateutil==2.9.0.post0
pytorch-lightning==2.3.0
pytorch-metric-learning==2.3.0
pytz==2024.1
PyWavelets==1.6.0
PyYAML==6.0.1
ray==2.10.0
referencing==0.35.1
regex==2024.5.15
requests==2.27.1
ribs==0.4.0
rich==13.7.1
rpds-py==0.18.1
rsa==4.9
ruamel.yaml @ file:///home/conda/feedstock_root/build_artifacts/ruamel.yaml_1707298115475/work
ruamel.yaml.clib @ file:///home/conda/feedstock_root/build_artifacts/ruamel.yaml.clib_1707314473442/work
ruff==0.4.10
s3fs==2024.5.0
s3transfer==0.10.1
safetensors==0.4.3
scikit-image==0.20.0
scikit-learn==1.0.2
scipy==1.8.1
seaborn==0.12.2
sentencepiece==0.2.0
seqeval==1.2.2
shap==0.44.1
shellingham==1.5.4
six==1.16.0
skl2onnx==1.16.0
slicer==0.0.7
smart-open==7.0.4
sortedcontainers==2.4.0
soupsieve==2.5
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.4.8
stack-data==0.6.3
statsforecast==1.4.0
statsmodels==0.14.2
suod==0.0.9
sympy==1.12.1
tables==3.7.0
tabpfn==0.1.10
-e git+ssh://git@github.com/alee4977/tabrepo.git@b4440de898712f0e2d80883f25cd2f788ab2214e#egg=tabrepo
tabulate==0.9.0
tenacity==8.4.1
tensorboard==2.17.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
tensorrt==8.6.1.post1
tensorrt-bindings==8.6.1
tensorrt-libs==8.6.1
text-unidecode==1.3
thinc==8.2.5
threadpoolctl==3.5.0
tifffile==2024.6.18
timm==0.9.16
tokenizers==0.15.2
toml==0.10.2
tomli==2.0.1
toolz==0.12.1
torch==2.3.1
torchmetrics==1.2.1
torchvision==0.18.1
tqdm==4.66.4
traitlets==5.14.3
transformers==4.39.3
triton==2.3.1
truststore @ file:///home/conda/feedstock_root/build_artifacts/truststore_1694154605758/work
typeguard==2.13.3
typer==0.12.3
types-requests==2.32.0.20240602
types-setuptools==70.0.0.20240524
typing_extensions==4.12.2
tzdata==2024.1
urllib3==1.26.19
utilsforecast==0.0.10
virtualenv==20.26.2
vowpalwabbit==9.9.0
wasabi==1.1.3
wcwidth==0.2.13
weasel==0.4.1
Werkzeug==3.0.3
widgetsnbextension==4.0.11
window_ops==0.0.15
wrapt==1.16.0
xgboost==2.0.3
xmltodict==0.13.0
xxhash==3.4.1
yarl==1.9.4
yellowbrick==1.5
zstandard==0.22.0
